<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Git Reference</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/text.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/grid.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/layout.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/nav.css" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/css/ie6.css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen" /><![endif]-->
		<script type="text/javascript" src="/js/jquery-1.4.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/js/action.js"></script>
	</head>
	<body>
    <div class="container_12">

			<div class="grid_12">
				<span id="branding">Tham khảo về Git</span>
      </div>

			<div class="grid_12">
				<ul id="menu">
					<li><a id="menu_home" href="/index.html">Giới thiệu</a></li>
          <!-- <li><a id="menu_cookbook" href="/cookbook.html">Cookbook</a></li> -->
					<li><a id="menu_about" href="/about.html">Tác giả</a></li>
					<li>&#167;</li>
					<li><a href="http://github.com/icyfork/git-reference">Mã nguồn tài liệu</a></li>
        </ul>
        <br/>
        &nbsp;
			</div>

			<div class="grid_2" id="reflist">
          <div class="block">
            <h3><a href="/creating">Tạo hoặc nhân bản kho</a></h3>
            <ul>
              <li><a href="/creating/#init">tạo mới (init)</a></li>
              <li><a href="/creating/#clone">nhân bản (clone)</a></li>
            </ul>
					</div>

          <div class="block">
            <h3><a href="/basic">Thao tác cơ bản</a></h3>
            <ul>
              <li><a href="/basic/#add">thêm (add)</a></li>
              <li><a href="/basic/#status">trạng thái (status)</a></li>
              <li><a href="/basic/#diff">so sánh (diff)</a></li>
              <li><a href="/basic/#commit">xác nhận (commit)</a></li>
              <li><a href="/basic/#reset">bỏ qua (reset)</a></li>
              <li><a href="/basic/#rm-mv">xóa (rm, mv)</a></li>
            </ul>
          </div>

          <div class="block">
            <h3><a href="/branching">Rẽ nhánh. Trộn</a></h3>
            <ul>
              <li><a href="/branching/#branch">rẽ nhánh (branch)</a></li>
              <li><a href="/branching/#branch">chuyển nhánh (checkout)</a></li>
              <li><a href="/branching/#merge">trộn (merge)</a></li>
              <li><a href="/branching/#log">log</a></li>
              <li><a href="/branching/#tag">đánh dấu (tag)</a></li>
            </ul>
          </div>

          <div class="block">
            <h3><a href="/remotes">Chia sẻ. Cập nhật</a></h3>
            <ul>
              <li><a href="/remotes/#fetch">kéo (fetch, pull)</a></li>
              <li><a href="/remotes/#push">đẩy</a></li>
              <li><a href="/remotes/#remote">kho xa (remote)</a></li>
            </ul>
          </div>

          <div class="block">
            <h3><a href="/inspect">Kiểm tra. So sánh</a></h3>
            <ul>
              <li><a href="/inspect/#log">log</a></li>
              <li><a href="/inspect/#diff">diff</a></li>
            </ul>
          </div>

          <!--
          <div class="block">
            <h3><a href="/fixing">Fixing and Changing History</a></h3>
            <ul>
              <li><a href="/fixing/rebase.html">rebase</a></li>
              <li><a href="/fixing/revert.html">revert</a></li>
              <li><a href="/fixing/checkout.html">checkout</a></li>
              <li><a href="/fixing/reset.html">reset</a></li>
              <li><a href="/fixing/cherry-pick.html">cherry-pick</a></li>
            </ul>
          </div>
          -->
			</div>

      <div class="grid_10 home_box" id="content_box">
        {{ content }}
      </div>

			<div class="clear"></div>
		</div>
  </body>
</html>
